@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>MRN Tracker by Richard Michaels</h3>


<p>For questions or assistance contact me at <a href="mailto:ramichaels@gmail.com?Subject=MRN%20Tracker%20Help" target="_top">ramichaels@gmail.com</a></p>