@using CoderTrack.Models
@{
    ViewBag.Title = "Home Page";
}
@model CoderModel

<div class="jumbotron">
    <h1>MRN Tracker</h1> 
    <p class="lead">Richard Michaels Software Solutions</p>
    <p><a href="http://about.me/richardmichaels" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
        </p>
    </div>
    
</div>